.header{
	background-color: rgba(10, 10, 10, 0.75);
	box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.1);
	position: fixed;
	width: 100%;
	z-index: 3;
	top: 0;
	margin: 0;
	font-size: 1.3rem;
	color: #fff;
}

.header .active{
	background-color: rgba(0,0,0,0.7);
	color: gray;
	
}

.header ul{
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

#search{
	padding: 5px;
}

#searchButton{
	margin-top: 5px;
	height: 30px;
	width: 100px;
	background: rgba(37, 90, 110, 0.7);
	color: #fff;
	border-radius: 5px;
	border: 0;
	font-size: 1.1rem;
	margin:0px 0px 0px 10px;
}

form#search{
	color: #000;
	height: 28px;
	width: 200px;
	font-size: 1.1rem;
	border-radius: 5px;
	padding-left: 5px;

}

.header ul a{
	display: block;
	padding: 10px;
	border-right: 1px solid #333;
	text-decoration: none;
	text-align: left;
	color: white;
}

.header ul a:hover{
	background-color: rgba(0,0,0,0.7);
}

.header .menu{
	clear: both;
	max-height: 0;
	transition: max-height 0.2s ease-out;
}

.header .menu-icon{
	padding: 28px 20px;
	position: relative;
	float: right;
	cursor: pointer;
}

.header .menu-icon .nav-icon{
	background:#fff;
	display: block;
	height: 2px;
	width: 18px;
	position: relative;
	transition: background 0.2s ease-out;
}

.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after{
	background: #fff;
	content: '';
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 5px;
	transition: all 0.2s ease-out;
}

.header .menu-icon .nav-icon:after{
	top: -5px;
}

.header .menu-btn{
	display: none;
}

.header .menu-btn:checked ~ .menu{
	max-height: 100%;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon{
	background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before{
	transform: rotate(-45deg);
	top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after{
	transform: rotate(45deg);
	top: 0;
}

@media (min-width:1366px){
	.header{
		font-size: 1rem;
	}
	
	.header li{
		float: left;
		padding: 5px;
	}
	
	.header li a{
		margin: 0;
		padding: 10px 20px;
	}
	
	.header li#search{
		padding: 10px;
		padding-right: 7vw;
	}
	
	.header .menu{
		max-height: 60px;
	}
	
	.header .menu-icon{
		display: none;
	}
}

